[submodule "SingleApplication"]
	path = SingleApplication
    commit = bdbb09b5f21ebea4cd7dfb43b29114a94e04a3a1
	url = https://github.com/itay-grudev/SingleApplication
[submodule "3rd_party/allwpilib"]
	path = 3rd_party/allwpilib
	url = https://github.com/wpilibsuite/allwpilib
