[Desktop Entry]
Type=Application
Name=QFRCDashboard
Comment=Reliable, high-performance dashboard for FRC.
Exec=QFRCDashboard
Icon="stroke-cap-square"
